/* ALL */
@font-face {
  font-family: Airbnb;
  src: url("../cereal-airbnb-font-master/AirbnbCereal-Black.ttf");
}
body {
  font-family: Airbnb;
}

/* HEADER */
nav {
  height: 100px;
}

.item {
  background-color: rgba(190, 195, 202, 0.3);
  border: none;
}

.fa-search,
.fa-bars {
  font-size: 25px;
}

.seach:hover {
  border-color: white;
}

.midle-side-main,
.menu-hamburger {
  background-color: rgba(190, 195, 202, 0.3);
}

.midle-side-main img {
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.right-side-main img {
  width: 200px;
  height: 200px;
}

nav,
.nav-first {
  box-shadow: 0px 0px 6px 1px rgba(190, 195, 202, 0.3);
}

.left-side-main {
  box-shadow: 1px 1px 0px 0px rgba(190, 195, 202, 0.3);
}

.badge {
  background-color: #57cad5;
}

.cart-nav {
  height: 100px;
  box-shadow: 0px 0px 6px 1px rgba(190, 195, 202, 0.3);
}

.cart p {
  color: #cecece;
}

.cart h4 {
  margin-top: -40px;
}

.btn-checkout {
  background-color: #57cad5;
}

.btn-cancel {
  background-color: #f24f8a;
}

.cart-menu img {
  height: 100px;
  width: 100px;
}

.btn-add,
.price {
  margin-top: 35px;
}

.cart-shop img {
  border-radius: 5px;
}
.btn-add button {
  width: 30px;
  border: 1px solid #82de3a;
  color: #82de3a;
}

.checked img {
  filter: brightness(30%);
}

.checklist {
  position: absolute;
  font-size: 40px;
  top: 35%;
  left: 43%;
}

/* HISTORY */

.today-income {
  height: 203px;
  background: linear-gradient(
    278.29deg,
    #fbb2b4 30.05%,
    rgba(255, 143, 178, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
  border-radius: 10px;
}

.orders {
  height: 203px;
  background: linear-gradient(
    278.29deg,
    #29dfff 30.05%,
    rgba(41, 223, 255, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
  border-radius: 10px;
}

.this-years-income {
  height: 203px;
  background: linear-gradient(
    278.29deg,
    #ab84c8 30.05%,
    rgba(241, 201, 236, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.25));
  border-radius: 10px;
}

.option {
  margin-left: -30px;
  margin-right: -30px;
}

.today-income-info {
  position: absolute;
  top: 27%;
  left: 15%;
}

.chart-history,
.recent-order {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
